.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.title {
  font-family: 'Roboto';
  font-size: 16px;
  color: #000000;
}
.button {
  border: 1px solid #ff0b37;
  background-color: transparent;
  color: #ff0b37;

  border-radius: 8px;
  width: 70px;
  height: 40px;
}
